<footer>
	<div class="container-fluid">
		<div class="row">
			<div class="footer_menu">
				<ul>
					<li><a href="javascript:void(0);"  data-toggle="modal" data-target="#about">HOW TO PLAY</a></li>
					<li><a href="javascript:void(0);" data-toggle="modal" data-target="#terms-condition">TERMS & CONDITIONS</a></li>
					<li><a href="javascript:void(0);" data-toggle="modal" data-target="#support">Support</a></li>
					<li><a href="javascript:void(0);" data-toggle="modal" data-target="#faq">FAQ</a></li>
					<li><a href="javascript:void(0);" data-toggle="modal" data-target="#provably-fair">FAIRNESS</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>